---
  name: Nightly check
  tab
  on:
    schedule:
      - cron: "0 0 * * *"
    workflow_dispatch: {}
  
  concurrency:
    group: nightly-${{ github.ref }}
    cancel-in-progress: true
  
  jobs:
    linkCheckMdx:
      name: Run link check on .mdx files
      runs-on: ubuntu-latest
      permissions:
        contents: read
      steps:
        - uses: actions/checkout@v4
        - name: LinkCheck mdx files
          uses: ConsenSys/github-actions/docs-link-check@main
          with:
              FILE_EXTENSION: mdx
              MODIFIED_FILES_ONLY: no

    linkCheckMd:
      needs: linkCheckMdx
      name: Run link check on .md files
      if: always()
      runs-on: ubuntu-latest
      permissions:
        contents: read
      steps:
        - uses: actions/checkout@v4
        - name: LinkCheck md files
          uses: ConsenSys/github-actions/docs-link-check@main
          with:
              FILE_EXTENSION: md
              MODIFIED_FILES_ONLY: no
                          - name: Cache
  uses: actions/cache@v4.3.0
  with:
    # A list of files, directories, and wildcard patterns to cache and restore
    path: 
    # An explicit key for restoring and saving the cache
    key: 
    # An ordered multiline string listing the prefix-matched keys, that are used for restoring stale cache if no cache hit occurred for key. Note `cache-hit` returns false in this case.
    restore-keys: # optional
    # The chunk size used to split up large files during upload, in bytes
    upload-chunk-size: # optional
    # An optional boolean when enabled, allows windows runners to save or restore caches that can be restored or saved respectively on other platforms
    enableCrossOsArchive: # optional, default is false
    # Fail the workflow if cache entry is not found
    fail-on-cache-miss: # optional, default is false
    # Check if a cache entry exists for the given input(s) (key, restore-keys) without downloading the cache
    lookup-only: # optional, default is false
    # Run the post step to save the cache even if another step before fails
    save-always: # optional, default is false
          
